{% extends "index.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/autenticacion/registro.css')}}" type="text/css" />
{% endblock %}

{% block content %}
  <form id="form" method="POST" action="{{url_for('autenticacion_bp.registro')}}">
    <h1>Registro</h1>
    <div class="form-field">
      <label>Nombre: </label>
      <input name="nombre" type="text" placeholder="nombre" />
    </div>
    <div class="form-field">
      <label>Apellido: </label>
      <input name="apellido" type="text" placeholder="correo" />
    </div>
    <div class="form-field">
      <label>Fecha Nacimiento: </label>
      <input name="fecha_nacimiento" type="date" placeholder="contraseña" />
    </div>
    <div class="form-field">
      <label>Sexo: </label>
      <select name="sexo">
        <option vale="M">M</option>
        <option value="F">F</option>
      </select>
    </div>
    <div class="form-field">
      <label>Nombre de usuario: </label>
      <input name="alias" type="text" placeholder="alias" />
    </div>
    <div class="form-field">
      <label>Contrasenia: </label>
      <input name="contrasenia" type="text" placeholder="contraseña" />
    </div>
    <div class="form-field">
      <label>Telefono: </label>
      <input name="telefono" type="text" placeholder="telefono" />
    </div>
    <button type="submit" class="ingresoButton">Registrarse</button>
    <a href="{{url_for('autenticacion_bp.login')}}">Login</a>
  </form>
{% endblock %}